

header {
  background:linear-gradient(deepSkyBlue, white);
  height: 150px;
  line-height: 150px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 100px;
}


.container img {
  float: left;
}

header a {
  color: darkBlue;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 5px;
}

header a:hover {
  color: #154360;
}

.header-title {
  display: block;
  float: left;

  font-size: 30px;
  font-weight: bold;
}

.header-nav {
  display: block;
  float: right;
  margin-top: 0px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: bold;
}

.header-nav li {
  display: inline;
  padding-left: 30px;
}

.container {
  max-width: 1400;
  margin: 0 auto;
}

.welcome {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  color: darkBlue;
}

a:hover {
  color: black;
}

.lists ul {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-right: 50px;
}

.lists li {
  padding-bottom: 10px;
  font-size: 20px;
}

.lists img {
  padding-right: 10px;
}

.seasons {
  float: left;
  width: 33.33%;
}

.countries {
  float: left;
  width: 33.33%;
}

.participants {
  float: left;
  width: 33.33%;
}

.collapsible {
  background-color: deepSkyBlue;
  color: darkBlue;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border: solid, black;
  text-align: center;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #99ceff;
}

.coll-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #cce6ff;
}

ul {
  list-style-type: none;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 50px;
  letter-spacing: 1px;
}

h1, h2 {
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
}

.about-table {
  width: 100%;
  text-align: center;
}

.about-table img {
  float: left;
}

.contestant-table {
  text-align: center;
  float: right;
  width: 30%;
}

.contestant-table img {
  padding-left: 5px;
  padding-right: 10px;
}

.contestant-table a {
  padding-right: 10px;
  padding-left: 10px;
}

.contestant-table li {
  padding-right: 15%;
}

.contestant-info {
  float: left;
  width: 60%;
}

.participation-table {
  width: 400px;
  text-align: center;
}

.participation-table img {
  padding-right: 10px;
  padding-left: 5px;
}

.achievements-table {
  width: 200px;
  text-align: center;
}

.topScores-table {
  width: 1000px;
  text-align: center;
}

.topScores-table a {
  padding-left: 5px;
  padding-right: 5px;
}

.given-table {
  text-align: center;
  float: left;
  width: 30%
}

.received-table {
  text-align: center;
  float: right;
  width: 50%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  background-color: deepSkyBlue;
  color: darkBlue;
}

tr:nth-child(even) {
  background-color: #cce6ff;
}

.contestant-iconic {
  clear: both;
}

#first {
  background-color: #ffd700;
}

#second {
  background-color: #c0c0c0;
}

#third {
  background-color: #cc9966;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #004f99;
  color: #99ceff;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#topBtn:hover {
  background-color: #99ceff;
  color: #004f99
}
